// nextflow configuration file 

// config file provided as an example. Need to be adapted for your own use

profiles { 
  local { 
    process.executor = 'local' // run on the same machine 
    process.queueSize = 4      // max 4 parallel processes 
  } 
  cluster { 
    process.executor = 'slurm' // run on a Slurm cluster 
    process.queueSize = 10     // max 10 processes at once 
    process.memory = '120 GB'   // request 120 per process 
    process.cpus = 12           // request 12 cpu per process 
    process.container = '/path/to/mycontainer.img'
    singularity.enabled = true
    singularity.runOptions = "--bind /path/to/parentfolder --bind /another/paht/to/necessary/folder"
    singularity.cacheDir = "/path/to/cache/folder"
    singularity.autoMounts = true
  } 
}
